@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
body{
    font-family: "poppins";
}
.cnctForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 500px;
}
.form form input{
    height: 40px;
    width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
font-size: 20px;
    border: 1px solid green;
}
#feed{
    height: 200px;
    border: 1px solid green;
font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    resize: none;
}
#btnCnct{
    margin-top: 20px;
    width: 500px;
    color: white;
    background-color: green;
}
#sm{
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    background-color: blue;
}
#cnctfrm{
    color: green;
font-size: 30px;
margin-bottom: 50px;
}